body {
      background: linear-gradient(135deg, #d0c3f7, #d0b0d3);
      margin: 0;
      font-family: 'Clash Display', sans-serif;
      height: 100%;
      display: flex;
      flex-direction: column;
}

    html {
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  flex-direction: column;
}


   h1 {
    font-size: 70px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 5px #555;
  }

  h2 {
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 5px #555;
  }

  p {
   font-size: 20px;
   color: #f0f0f0;
   text-shadow: 4px 4px 5px #555;
  }


    p {
      color: white;
      font-size: 25px;
      text-align: center;
      text-shadow: 4px 4px 5px #555;
    }

  .cabeçalho {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  padding: 30px 100px;
  text-shadow: 4px 4px 5px #555;
}

.cabeçalho a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.cabeçalho a:hover {
  transform: scale(1.2);
  text-shadow: 6px 6px 8px #555;
}

.cabeçalho a:visited {
  color: white;
}

.principal:hover {
  font-size: 30px;
  text-shadow: 6px 6px 8px #555;
  transition: 0.5s;
}

.sobre:hover {
  font-size: 30px;
  text-shadow: 6px 6px 8px #555;
  transition: 0.5s;
}

.trabalhos:hover {
  font-size: 30px;
  text-shadow: 6px 6px 8px #555;
  transition: 0.5s;
}

.contatos:hover {
  font-size: 30px;
  text-shadow: 6px 6px 8px #555;
  transition: 0.5s;
}

.joguinho:hover {
  font-size: 30px;
  text-shadow: 6px 6px 8px #555;
  transition: 0.5s;
}

.colunas {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

.grupo {
  width: 400px;
}

.titulo {
  font-size: 50px;
  text-shadow: 4px 4px 5px #555;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.card {
  color: white;
  border: 2px solid white;
  font-size: 30px;
  margin: 50px 0 20px 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 1px 3px 5px #555;
  text-align: center;
  padding: 20px;
}

.colunacontatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.colunacontatos a{
  border: 2px solid white;
  padding: 20px 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #555;
}

.colunacontatos a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

footer {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 40px 0 20px;
}
