body, html {
  width: 100%;
  height: 100%;
  font-family: 'Clash Display', sans-serif;
  background: transparent;
  overflow: hidden;
}
  
#tela {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../Imagens/Computador.png) no-repeat center center;
  background-size: contain;
  z-index: 2;
}

/* Organização do cabeçalho */
.cabeçalho {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  padding: 30px 100px;
  z-index: 3;
  text-shadow: 4px 4px 5px #555;
}

.cabeçalho a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.cabeçalho a:hover {
  transform: scale(1.2);
  text-shadow: 6px 6px 8px #555;
}

.cabeçalho a:visited {
  color: white;
}

.joguinho:hover {
  font-size: 30px;
  text-shadow: 6px 6px 8px #555;
  transition: 0.5s;
}

/* Organização de elementos como a imagem do monitor em volta e organização dos aplicativos */
.monitor {
  background-color: lightblue;
  position: absolute;
  border: solid;
  width: 140vh;
  height: 73.5vh;
  left: 24.5vh;
  top: 6.5vh;
  z-index: 1;
}

.apps-pc {
  display: flex;
  flex-wrap: wrap;   
  width: 25%;        
  justify-content: center;   
  position: absolute;
  gap: 50px;
  top: 10vh;
  left: 25vh;
  z-index: 3;
}

.app-container {
  width: 70px;
  height: 75px;
  text-align: center;
}

.apps-pc:focus {
 border: black;
}
.app-icone {
 width: 25px;
 height: 25px;
 border: solid black;
 margin: 5 auto
}

.app {
  width: 70px;
  height: 40px;
  text-align: center;
}

.app-container.selecionado {
  border: 2px solid #0078D7; 
  background-color: rgba(0, 120, 215, 0.2);
}

.janela {
  width: 300px;
  height: 200px;
  background-color: white;
  border: 2px solid #333;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
  position: relative;
  top: 150px;
  left: 150px;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: auto;
  z-index: 9999;
}

.janela-header {
  background-color: #0078D7;
  color: white;
  padding: 10px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.janela-body {
  padding: 10px;
  flex-grow: 1;
}

.fechar-janela {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Organização das particulas de fundo  */
#particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(270deg, #8880a1, #947d96, #9b8391);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}